@{
    ViewData["Title"] = "Task List";
}

<input type="text" id="taskInput"/><button id="create">New Task</button>
<ul id="list"></div>


@section Scripts {
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/tasklist.js"></script>
}