@{
    ViewData["Title"] = "Whiteboard";
}
<canvas id="canvas" width="800" height="500"></canvas>
<select id="color">
    <option value="black">Black</option>
    <option value="red">Red</option>
    <option value="yellow">Yellow</option>
    <option value="green">Green</option>
    <option value="blue">Blue</option>
</select>

@section Scripts {
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/whiteboard.js"></script>
}